@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&display=swap");
.recipeContainer {
  margin: 1rem 5rem 1.5rem 5rem;
  border-radius: 25px;
  padding: 1rem 1rem 1rem 1rem;
  background-color: rgb(243, 253, 243);
}
.recipe {
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: center;
}

.drinkImage {
  width: 20rem;
  height: auto;
  padding: 1rem;
}

.recipeH2 {
  font-size: 1.4rem;
  text-align: center;
  font-family: "Noto Sans", sans-serif;
  color: var(--orange);
  color: inherit;
  margin-top: 4%;
}

.division {
  width: 53rem;
  height: 1.2px;
  background-color: #d5dbca;
  margin: auto;
}

.recipeWrapper {
  width: 45rem;
  margin-left: 1%;
  padding: 0 1rem 1rem 1rem;
}

h3 {
  text-align: center;
  font-size: 1.3rem;
}

.ingredients {
  font-size: 16px;
  text-align: start;
}

.ingredientsParagraph {
  font-weight: 900;
}

ul {
  list-style: none;
}

.methodParagraph {
  font-weight: 900;
}

p {
  text-align: justify;
  font-size: 16px;
  line-height: 1.5;
}

@media screen and (max-width: 870px) {
  .recipe {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .division {
    width: 50%;
    height: 1.2px;
    background-color: #d5dbca;
    margin: auto;
  }
}

@media screen and (max-width: 800px) {
  .recipeWrapper {
    width: 30rem;
  }
  .recipeContainer {
    margin: 0rem 3rem 1.5rem 3rem;
  }
}

@media screen and (max-width: 620px) {
  .drinkImage {
    width: 15rem;
    padding-top: 1rem;
  }
  p {
    font-size: 14px;
  }
  .ingredients {
    font-size: 14px;
  }
  h3 {
    font-size: 16px;
  }
  .openModalBtn {
    font-size: 0.8rem;
  }
  .recipeWrapper {
    width: 25rem;
  }
}

@media screen and (max-width: 525px) {
  .drinkImage {
    width: 15rem;
  }
  .recipeH2 {
    font-size: 1.2rem;
  }
  .recipeWrapper {
    width: 20rem;
    padding: 0rem;
  }
  .recipeHeader {
    padding: 1px;
    margin: 1px;
  }
}

@media screen and (max-width: 400px) {
  .recipeHeader {
    margin: 1px;
    padding: 2px;
  }
  .recipeH2 {
    font-size: 1rem;
  }
  .drinkImage {
    width: 12em;
  }
  .recipeWrapper {
    width: 15rem;
  }
  p {
    font-size: 12px;
  }
  .ingredients {
    font-size: 12px;
  }
  h3 {
    font-size: 14px;
  }
  .openModalBtn {
    font-size: 10px;
    font-weight: 500;
  }
}

@media screen and (max-width: 300px) {
  .recipeResults {
    margin: 0 0 0 0;
  }
  .drinkImage {
    width: 10rem;
  }
}
