.monthlyRecipeWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.h1Header {
  font-size: 1.5rem;
  margin-top: 3rem;
  margin-bottom: 5px;
}
.h2Header {
  font-size: 1.1rem;
  font-weight: 500;
  padding: 0.5rem;
  margin: 0 2rem 2rem 2rem;
  font-style: italic;
  text-align: center;
}
.divisionLine {
  width: 15rem;
  background-color: rgb(46, 46, 46);
  height: 0.5px;
  margin: auto;
}

@media screen and (max-width: 600px) {
  .h1Header {
    font-size: 1.4rem;
    margin-top: 2rem;
  }
  .h2Header {
    font-size: 1rem;
  }
}
@media screen and (max-width: 400px) {
  .h1Header {
    font-size: 1.2rem;
  }
  .h2Header {
    font-size: 0.9rem;
  }
}
