@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&display=swap");

.recipeWrapper {
  width: auto;
  height: auto;
  background-color: rgb(243, 243, 250);
  font-family: "Noto Sans", sans-serif;
  max-width: 100%;
  display: flex;
  flex-flow: column wrap;
  margin: 5% 20% 5% 20%;
  border-radius: 30px;
  padding-right: 20px;
  padding-left: 20px;
}

.ingredients {
  font-family: "Noto Sans", sans-serif;
  font-size: 16px;
  text-align: start;
}

.recipeH2 {
  padding-bottom: 10px;
  font-size: 30px;
  color: rgb(65, 63, 63);
  text-align: center;
  border-bottom: solid 4px rgb(255, 255, 255);
  border-bottom-style: dotted;
  margin-bottom: 5px;
}

.ingredientsParagraph {
  font-weight: 900;
  margin: 0;
}

ul {
  list-style: none;
}

li {
  line-height: 1.7;
  border: solid 0.5 (65, 63, 63);
}

.methodParagraph {
  font-weight: 900;
  margin: 0;
}

p {
  text-align: justify;
  font-size: 16px;
  line-height: 1.5;
}

@media screen and (max-width: 870px) {
  .recipeWrapper {
    margin: 5% 18% 5% 18%;
  }
}
@media screen and (max-width: 770px) {
  .recipeWrapper {
    margin: 5% 16% 5% 16%;
  }
}
@media screen and (max-width: 670px) {
  .recipeWrapper {
    margin: 5% 14% 5% 14%;
  }
}
@media screen and (max-width: 550px) {
  .recipeWrapper {
    margin: 5% 11% 5% 11%;
  }
}
@media screen and (max-width: 470px) {
  .recipeWrapper {
    margin: 5% 8% 5% 8%;
  }
}
