.spiritsContainer {
  text-align: center;
}
.spiritResultsH1 {
  font-size: 1.3rem;
  font-weight: 700;
  margin-top: 2rem;
}
.spiritResultsH2 {
  font-size: 1.1rem;
  font-weight: 500;
  margin: 0 2rem 0 2rem;
}
.spiritsWrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 6rem;
  flex-wrap: wrap;
  margin: 4rem 5% 2rem 5%;
}
.spiritImage {
  width: 200px;
  height: auto;
}
.spiritImage:hover {
  width: 198px;
  height: auto;
}
.spiritLink {
  text-decoration: none;
  color: var(--orange);
  font-weight: 700;
  font-size: 1rem;
}
.spiritLink:hover {
  text-decoration: underline;
}
@media screen and (max-width: 560px) {
  .spiritsWrapper {
    gap: 5rem;
  }
  .spiritImage {
    width: 170px;
    height: auto;
  }
}
@media screen and (max-width: 460px) {
  .spiritsWrapper {
    gap: 3rem;
  }
  .spiritImage {
    width: 130px;
    height: auto;
  }
}
