@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");
.App {
  text-align: center;
  margin-bottom: 40px;
}

.noRecipeFound {
  font-family: "Noto Sans", sans-serif;
  text-align: center;
  margin-top: 7%;
  font-size: 16px;
}
