@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap");

.h1AndImageContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.landPageH1 {
  font-size: 90px;
  margin-top: 110px;
  margin-left: 400px;
  position: absolute;
  letter-spacing: 2px;
  font-family: "Abril Fatface", cursive;
  color: #e8e9a1;
}

.divH2 {
  display: flex;
  flex-flow: row;
  justify-content: center;
  margin-top: 30px;
}

.landPageH2 {
  font-family: "Noto Sans", sans-serif;
  font-size: 21px;
  text-align: center;
  color: #190538;
}

.landPageImage {
  margin-top: 20px;
  max-width: 100%;
  max-height: auto;
}

.searchAndButtonContainer {
  display: flex;
  flex-flow: row;
  justify-content: center;
  margin-top: 30px;
}

.divInput {
  display: flex;
  flex-direction: row;
  padding-right: 30px;
}

.searchInput {
  padding: 15px;
  width: 500px;
  border: 2px solid #94b899;
  border-radius: 50px;
  font-family: "Noto Sans", sans-serif;
  font-size: 17px;
}

.homeButton {
  padding: 10px 15px 10px 15px;
  border: 1px solid #e06c6c;
  background-color: #e06c6c;
  color: rgb(255, 255, 255);
  font-size: 17px;
  font-weight: bold;
  font-family: "Noto Sans", sans-serif;
  border-radius: 30px;
}
