@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&family=Permanent+Marker&display=swap");

.h1AndImageContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.landPageH1 {
  font-size: 80px;
  margin-top: 100px;
  margin-left: 60px;
  position: absolute;
  letter-spacing: 2px;
  font-family: "Indie Flower", cursive;
  font-family: "Permanent Marker", cursive;
  color: #406d2c;
}

.divH2 {
  display: flex;
  flex-flow: row;
  justify-content: center;
  margin-top: 30px;
}

.landPageH2 {
  font-family: "Noto Sans", sans-serif;
  font-size: 21px;
  text-align: center;
  color: #5e751d;
}

.landPageImage {
  margin-top: 20px;
  max-width: 1200px;
  max-height: 300px;
}

.homeButton {
  margin-top: 40px;
  padding: 10px 15px 10px 15px;
  width: 160px;
  border: 1px solid #9db45d;
  background-color: #9db45d;
  color: rgb(255, 255, 255);
  font-size: 17px;
  font-weight: bold;
  font-family: "Noto Sans", sans-serif;
  border-radius: 30px;
}
