@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Hammersmith+One&display=swap");

.ImageContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.landPageH1 {
  font-size: 2.5em;
  margin-top: 12%;
  border-radius: 15px;
  position: absolute;
  font-family: "Hammersmith One", sans-serif;
  color: #2b2c2e;
}
.landPageImage {
  max-width: 100%;
  max-height: auto;
}
.searchAndButtonContainer {
  display: flex;
  flex-flow: row;
  gap: 21rem;
  margin-top: 17%;
  position: absolute;
}
::placeholder {
  color: #383636;
}
.searchInput {
  padding: 20px 30px 20px 30px;
  width: 200%;
  color: #383636;
  background-color: rgba(248, 241, 239, 0.856);
  border: 1px solid rgba(245, 242, 242, 0.904);
  border-radius: 15px;
  font-family: "Noto Sans", sans-serif;
  font-size: 1.1rem;
}
.searchInput:focus {
  outline: none;
}
.searchButton {
  padding: 20px 30px 20px 30px;
  border: 1px solid rgb(255, 92, 70);
  border-radius: 20px;
  background-color: rgb(255, 92, 70);
  color: #f3efef;
  font-size: 18px;
  font-weight: 500;
  width: fit-content;
  font-family: "Noto Sans", sans-serif;
}
@media screen and (max-width: 1140px) {
  .landPageH1 {
    font-size: 2.3rem;
  }
}
@media screen and (max-width: 1100px) {
  .searchAndButtonContainer {
    gap: 12rem;
  }
  .searchInput {
    width: 150%;
    padding: 15px 30px 15px 30px;
    font-size: 1rem;
  }
  .searchButton {
    padding: 15px 30px 15px 30px;
    font-size: 15px;
  }
}
@media screen and (max-width: 950px) {
  .landPageH1 {
    font-size: 2.2rem;
    margin-top: 12%;
  }
}
@media screen and (max-width: 900px) {
  .landPageH1 {
    font-size: 2.1rem;
    margin-top: 11.5%;
  }
  .searchAndButtonContainer {
    gap: 11rem;
  }
  .searchInput {
    width: 150%;
    padding: 10px 25px 10px 25px;
  }
  .searchButton {
    padding: 10px 25px 10px 25px;
    font-size: 13px;
    border-radius: 15px;
  }
}
@media screen and (max-width: 750px) {
  .landPageH1 {
    font-size: 2rem;
    margin-top: 11%;
  }
  .searchAndButtonContainer {
    gap: 7rem;
  }
  .searchInput {
    width: 120%;
    font-size: 1rem;
  }
  .homeButton {
    font-size: 12px;
  }
}

@media screen and (max-width: 650px) {
  .landPageH1 {
    font-size: 1.9rem;
    margin-top: 10.5%;
  }
  .searchAndButtonContainer {
    gap: 5rem;
  }
  .searchInput {
    width: 120%;
    padding: 10px 15px 10px 15px;
    font-size: 0.8rem;
  }
  .searchButton {
    padding: 5px 10px 5px 10px;
    font-size: 0.8rem;
  }
}
@media screen and (max-width: 520px) {
  .landPageH1 {
    font-size: 1.6rem;
    margin-top: 10%;
  }
}
@media screen and (max-width: 500px) {
  .landPageH1 {
    font-size: 1.5rem;
    margin-top: 10%;
  }
}
@media screen and (max-width: 400px) {
  .landPageH1 {
    font-size: 1.4rem;
  }
  .searchAndButtonContainer {
    gap: 1.9rem;
  }
  .searchInput {
    width: 90%;
    padding: 7px 20px 7px 20px;
    font-size: 0.7rem;
  }
  .searchButton {
    padding: 5px 10px 5px 10px;
    font-size: 0.7rem;
  }
}
@media screen and (max-width: 310px) {
  .landPageH1 {
    font-size: 1.1rem;
    margin-top: 8%;
  }
  .searchAndButtonContainer {
    gap: 1.1rem;
  }
  .searchInput {
    width: 80%;
    padding: 3px 20px 3px 20px;
  }
  .searchButton {
    padding: 3px 10px 3px 10px;
  }
}
