@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Secular+One&display=swap");

.noRecipeFound {
  font-family: "Noto Sans", sans-serif;
  text-align: center;
  margin: 5rem 4rem 5rem 4rem;
  font-size: 1.5rem;
}

.recipeWrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: base-line;
  margin: 0 5% 5% 5%;
  flex-wrap: wrap;
  border: solid 3px #f8ec8c9c;
}

.h2Title {
  font-size: 1.2rem;
  color: #2b2c2e;
  background-color: #f8ec8c9c;
  width: 36%;
  padding: 1rem;
  margin: auto;
  margin-top: 2%;
  text-align: center;
  font-weight: 600;
}

@media screen and (max-width: 800px) {
  .h2Title {
    font-size: 0.8rem;
    padding: 0.4rem;
  }
}

@media screen and (max-width: 580px) {
  .h2Title {
    width: 55%;
  }
}

@media screen and (max-width: 400px) {
  .h2Title {
    font-size: 0.6rem;
    width: 55%;
  }
}
