@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap");

.navBar {
  display: flex;
  flex-direction: row;
  justify-content: end;
  background-color: white;
  border-bottom: 0.2px solid #e0dddd;
  gap: 2rem;
  padding: 0.9rem;
}
.name {
  font-family: "Abril Fatface", cursive;
  color: var(--orange);
  text-align: center;
  margin: auto;
  font-size: 1.8rem;
  font-weight: 900;
  text-decoration: none;
}
@media screen and (max-width: 650px) {
  .name {
    font-size: 1.4rem;
  }
}
@media screen and (max-width: 500px) {
  .name {
    font-size: 1.3rem;
  }
  .navBar {
    padding: 0.6rem;
  }
}
@media screen and (max-width: 400px) {
  .navBar {
    padding: 0.4rem;
  }
}
