.navBar {
  display: flex;
  flex-direction: row;
  justify-content: end;
  background-color: #f1f7de;
  border-bottom: 0.2px solid #e7faa3;
  box-shadow: -1px 13px 14px -18px rgba(194, 194, 194, 0.445);
  gap: 2rem;
  padding: 0.8rem;
}

.links {
  text-decoration: none;
  color: inherit;
  font-size: 0.9rem;
  padding: 10px;
  font-weight: bold;
  color: inherit;
}

.links:hover {
  text-decoration: 1px underline;
  font-weight: bold;
}

@media screen and (max-width: 650px) {
  .links {
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 500px) {
  .links {
    font-size: 0.7rem;
  }
}
@media screen and (max-width: 400px) {
  .navBar {
    padding: 0.4rem;
  }
  .links {
    font-size: 0.6rem;
  }
}
