.recipeWrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: base-line;
  margin-right: 5%;
  margin-left: 5%;
  flex-wrap: wrap;
}

.result {
  font-size: 1rem;
  text-align: center;
  margin-top: 2rem;
  font-style: bold;
  color: rgb(83, 83, 83);
}

.noRecipeFound {
  font-size: 1rem;
  text-align: center;
  margin: 5% 20% 10% 20%;
  font-style: bold;
  color: rgb(83, 83, 83);
  line-height: 2;
}

.links {
  color: var(--orange);
}
.tryAgain {
  color: var(--orange);
}
@media screen and (max-width: 406px) {
  .result {
    font-size: 0.7rem;
  }
}
